html,
body {
  width: 100%;
  height: 100%;
}

* {
  transition: all 1s ease-in;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
